/contacts/migrations/__pycache__/
/db.sqlite3
/contacts/migrations/__pycache__
/contacts/__pycache__
/contacts/__pycache__
/contacts/fixtures/persons_201907180626.json
/contacts/__pycache__
/life_management/__pycache__
/contacts/migrations/__pycache__
